# environment
.env
.venv/
venv/
env/
__pycache__/
*.py[cod]
*.pyo
.Python

# outputs
*.log

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# dump/
sample_data/
dump/
test.py
DISCHARGE_SUMMARY_AGENT.md
